main aside {
    --transition-speed: .2s;
    height: 100vh; 
    width: 60px;
    position: fixed;
    z-index: var(--z-index-aside);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: $offset 15px;
    transition: var(--transition-speed);
    transform: translateX(-60px);
    border-right: 1px solid rgba(255,255,255,.1);
    @include animation(aside-in var(--transition-speed) forwards .5s);

}

main aside {
    background: rgba(0,0,0,.15);
    * + * {
        margin-top: var(--offset);
    }

    &:hover { background: rgba(0,0,0,.25) }
}

@keyframes aside-in {
	0% {
        transform: translateX(-60px);
	}

	100% {
		transform: translateX(0px);
	}
}