@import "layout/basic";

main {
	> section {
		height: 100vh;
		width: 100%;
		/* overflow: hidden; */
		position: absolute;
		z-index: var(--z-index-base);
		background: #000; 
		transition: .3s;

		& > div {
			display: none;
		}

		> div.active {
			z-index: var(--z-index-base-active);
			display: flex;
		}

		> div.out {
			display: flex;
			opacity: 0;
			@include animation(fade-out .3s forwards);
		}

		> div.in {
			padding: 0; 
			opacity: 0;
			@include animation(fade-in .3s forwards);
		}
	}
} 