%button {
	padding: calc((50px - 24px) / 2) 25px;
	border-radius: 25px;
	font-size: 14px;
	line-height: 24px;
	background: rgba(0,0,0,.5);
	color: #fff;
	text-transform:uppercase; 
	font-weight: 700; 
	text-decoration: none;
	transition: .3s;
	&:hover {
		background: rgba(0,0,0,.9);
	}


}

%red {
	background-color: var(--color-primary); 
	color: #fff;
	&:hover {
		background: rgba(0,0,0,.9);
		color: #fff;
	}
}

%blue {
	background-color: var(--color-secondary); 
	color: #fff;
	&:hover {
		background: rgba(0,0,0,.9);
		color: #fff;
	}
}

%white {
	background-color: rgba(255,255,255,.5); 
	color: #000;
	&:hover {
		background: rgba(255,255,255,.9);
		color: #000;
	}
}

.button {
	@extend %button; 
	&[data-color="blue"] { @extend %blue; }
	&[data-color="red"] { @extend %red; }
	&[data-color="white"] { @extend %white; }
}