%button  {
	--spacing: calc((50px - 24px) / 2);
	border-radius: 0;
	padding: var(--spacing) 25px;
	font-size: 14px;
	line-height: 24px;
	background: rgba(0,0,0,.5);
	color: #fff;
	text-transform:uppercase; 
	font-weight: 700; 
	text-decoration: none;
	position: relative;
	transition: .3s;
}

%red {
	background-color: var(--color-primary); 
	color: #fff;
	&:hover {
		background: rgba(0,0,0,.9);
		color: #fff;
	}
}

%blue {
	background-color: var(--color-secondary); 
	color: #fff;
	&:hover {
		background: rgba(0,0,0,.9);
		color: #fff;
	}
}

.button-container {
	display: inline-flex; 
	justify-content: flex-start;
	align-items: center;

	&.center {
		width: 100%;
		justify-content: center;
	}

	a {
		@extend %button; 
		&:first-child {
			border-top-left-radius: 25px;;
			border-bottom-left-radius: 25px;;
		}

		&:last-child {
			border-top-right-radius: 25px;;
			border-bottom-right-radius: 25px;;
		}

		&[data-color="blue"] { @extend %blue; }
		&[data-color="red"] { @extend %red; }
	}
}