<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="The Last Broadcast provides a active and helpful Dayz community, and an extremely stable modded Server, with custom area's.">
	<link rel="stylesheet" href="style/app.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155359075-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-155359075-1');
	</script>
	<title>The Last Broadcast - To Life, Love and Loot!</title>
</head>
<body>
	<header id="main">
		<figure><a href="https://www.dayz-tlb.com/"><img src="images/the_last_broadcast_logo.png" alt="The Last Broadcast"></a></figure>
	</header>
	<nav>
		<div class="container">
			<ul>
				<li><a href="#" data-view-target="introduction">Home</a></li>
				<li><a href="#" data-view-target="signs-of-civilization">Signs of civilization</a></li>
				<li><a href="#" data-view-target="anarchy">Anarchy region</a></li>
				<li><a href="#" data-view-target="server-rules">Server rules</a></li>
				<li><a href="#" data-view-target="custom-areas">Custom Area's</a></li>
				<li><a href="#" data-view-target="factions">Factions</a></li>
				<li><a href="#" data-view-target="the-last-broadcast">TLB Crew</a></li>
			</ul>
		</div>
	</nav>
	<main>
		<aside>
			<a href="#" class="trigger" id="navigation-trigger">
				<span></span>
				<span></span>
				<span></span>
			</a>
			<a href="https://www.dayz-tlb.com/discord/" target="_blank" class="icon"><span class="fab fa-discord"></span></a>
			<a href="steam://connect/116.202.210.247:2402">116.202.210.247</a>
		</aside>
		<section>
			<!-- Introduction  -->
			<div class="introduction" data-view-name="introduction">
				<div class="background-image" style="background-image: url(./images/introduction_background.jpg)">
					<div class="overlay">
						<div class="content">
							<div class="wrapper">
								<article class="text">
									<header>
										<h1>
											<span>The Last Broadcast</span>
											Wich side will you fight for? 
										</h1>
									</header>
									<p>Welcome Survivor. On this DayZ server we offer you a realistic post-apocalyptic experience and the opportunity to make new friends (or enemies). We stimulate roleplay and grinding gameplay.</p>
									<p>All our content is highly maintained, perfectly stable and balanced out.</p>
								</article>
								<article class="text">
									<header>
										<h2>Anarchy region
											<span>PVP-oriented gameplay</span>
										</h2>
									</header>
									<p>Since the outbreak this region is tormented by pain, terror and death. Hostile groups of bandits, dangerous wild animals, zombie hordes are seen here regularly.</p>
									<p>Entering this zone will bring you nothing but trouble. If you still want to enter this area, be well prepared and prepare to die.</p>

									<div class="button-container">
										<a href="#" data-view-target="server-rules">Zone rules</a>
										<a href="#" data-color="red" data-view-target="anarchy">This is my fight</a>
									</div>
								</article>
								<article class="text">
									<header>
										<h2>Signs of civilization
											<span>Roleplay-oriented gameplay</span>
										</h2>
									</header>
									<p>After years of chaos, murder and destruction new hope arises in this region. Survivors have started to work together here and are trying to form a "stable" region in Chernarus.</p>
									<p>The environment is still hostile but the people here are mostly friendly and trying to rebuild their lives.</p>
									<div class="button-container">
										<a href="#" data-view-target="server-rules">Zone rules</a>
										<a href="#" data-color="blue" data-view-target="signs-of-civilization">We will rise</a>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Introduction  -->
			
			<!-- Anarchy Region  -->
			<div class="anarchy" data-view-name="anarchy">
				<div class="background-image" style="background-image: url(./images/anarchy_background.jpg);">
					<div class="overlay">
						<div class="content">
							<div class="wrapper">
								<article class="text">
									<header>
										<h1>
											<span>Red Zone</span>
											Anarchy region
										</h1>
									</header>
									<p>Since the outbreak this region is tormented by pain, terror and death. Hostile groups of bandits, wild animals, zombie hordes are seen here regularly.  Entering this zone will bring you nothing but trouble and misery. If you still want to enter this area, be well prepared and prepare to die.</p>
									<p>Despite everything, there is a strong suspicion that valuable goods are regularly found in this area. The area is largely undiscovered and could be a excellent scavenger hunt.</p>
									<p> region (red zone) is a "KOS" region. This means you are allowed to kill players on sight. In this region there are no other rules than the general ones.</p>
									<div class="button-container center">
										<a href="#" data-color="red" data-view-target="server-rules">Server rules</a>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- End Anarchy Region  -->


			<!-- Signs of civilization  -->
			<div class="signs-of-civilization" data-view-name="signs-of-civilization">
				<div class="background-image" style="background-image: url(./images/civilization_background.jpg);">
					<div class="overlay">
						<div class="content">
							<div class="wrapper">
								<article class="text">
									<header>
										<h1>
											<span>Blue Zone</span>
											Signs of civilization
										</h1>
									</header>
									<p>After years of chaos, murder and destruction new hope arises in this region.Survivors have started to work together here and are trying to form a "stable" region in Chernarus.The environment is still hostile but the people here are mostly friendly and trying to build their lives.As it seems that this region will find its way back to normal life by showing the first Signs of Civilization there are still bad things happening here.</p>
									<p>Survivors aren't completely safe here as raiding, robbery and terrorizing are still taking place by bandits that are seeking for wealth.</p>
									<p>Signs of civilization (blue zone) is a "No-KOS" region. This means you are not allowed to attack players on sight. We call this "semi-roleplay". But that doesn't make this region peaceful, bandits are allowed to take you hostage or rob you.</p>
									<div class="button-container center">
										<a href="#" data-color="blue" data-view-target="server-rules">Server rules</a>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Signs of civilization  -->
			
			<!-- Server Rules -->
			<div class="rules" data-view-name="server-rules">
				<div class="background-image" style="background-image: url(./images/civilization_background.jpg);">
					<div class="overlay">
						<div class="content">
							<div class="wrapper">
								<article class="text">
									<header>
										<h1>
											<span>The Last Broadcast</span>
											Server Rules
										</h1>
									</header>
									<p>Since DayZ is constantly changing our detailed server rules are subject to change. Some general rules won’t change and are fundamental to the community and server you can read them below.</p>
									<ul>
										<li>Show maturity, respect and fairness towards everyone</li>
										<li>Any form of hacking or exploiting is strictly prohibited.</li>
										<li>No derogatory language (age, gender, race, nationality or sexuality)</li>
										<li>Don't try to abuse loopholes in the rules</li>
									</ul>
									<p>We focus on a friendly and respectful community where everyone is welcome. This means that there is no whitelist enforcement or any other requirements than understanding and following the rules that are in place.</p>
									<p>For the latest DayZ server-rules please visit our <a href="https://www.dayz-tlb.com/discord/" target="_blank">Discord channel</a></p>
									<div class="button-container center">
										<a href="#" data-color="white" data-view-target="introduction">Home</a>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>	
			</div>	
			<!-- End Server Rules -->
			
			<!-- Custom areas -->
			<div class="areas" data-view-name="custom-areas">
				<div class="background-image" style="background-image: url(./images/custom_areas_background.jpg);">
					<div class="overlay">
						<div class="content">
							<div class="wrapper">
								<article class="text">
									<header>
										<h1>
											<span>The Last Broadcast</span>
											Custom area's
										</h1>
									</header>
								</article>

								<div class="container">
									<div class="item" data-color="green">
										<div class="image" style="background-image: url(./images/custom/trader.png);"> </div>
										<div class="description">
											<article class="text">
												<header>
													<h3>Freelance Trader</h3>
												</header>
												<ul>
													<li>Player driven trader.</li>
													<li>Gear, guns, food, meds, special goods.</li>
													<li>Sells unique items</li>
												</ul>
											</article>
											<article class="text">
												<p>A mercenary trader group that scavenges for all kinds of goods, made of different people from all around the world that has established 2 main trading points throughout the area of Chernarus. Focused on establishing a stable economy and a friendly enviroment whilst maintaining a neutral reputation amongst other factions, specialised in trading Guns, Meds, Food, Special goods and some Unique exotic items.</p>
											</article>
										</div>
									</div>
									<div class="item" data-color="red">
										<div class="image" style="background-image: url(./images/custom/trader.png);"> </div>
										<div class="description">
											<article class="text">
												<header>
													<h3>Toxic Zones</h3>
												</header>
												<ul>
													<li>Outbreak</li>
													<li>Toxic cloud</li>
													<li>Left over toxic military gear</li>
													<li>Chernobyl</li>
												</ul>
											</article>
											<article class="text">
												<p> As an aftermath of the Outbreak in 2012-2013 in the areas of Nuclear Powerplants and some failed Military experiments which were performed in hopes of saving the humanity were created so called "Toxic Zones". Those so called Toxic zones contain remnants of Military bases filled with wildlife and zombies, some say there is crates that are marked with "Toxic Chest", its said that they contain some high end Military gear of high value. However you require some special clothing to go inside of such zones, they're all filled with toxic gases that melt your skin away, many brave men have tried going inside of it, however they weren't seen ever since. </p>
											</article>
										</div>
									</div>
									<div class="item" data-color="brown">
										<div class="image" style="background-image: url(./images/custom/trader.png);"> </div>
										<div class="description">
											<article class="text">
												<header>
													<h3>Mining</h3>
												</header>
												<ul>
													<li>Ores</li>
													<li>Uses for ores</li>
													<li>Use in survival</li>
													<li>Regional mining</li>
												</ul>
											</article>
											<article class="text">
												<p>Chernarus is a land rich with ores which were important for the industry, although after the aftermath they dont have the same use as before, Gold and Silver is used for trading purposes, Charcoal and Sulfur are used to create gunpowder which has numerous utilizations, mainly used in breaching obstacles and resolving conflicts. With all of the chaos around, in the southern areas you can still find friendly miners that work hard for their money, however in the Northern areas the story is a little bit different...</p>
											</article>
										</div>
									</div>

									<div class="item" data-color="red">
										<div class="image" style="background-image: url(./images/custom/trader.png);"> </div>
										<div class="description">
											<article class="text">
												<header>
													<h3>Helicopter Crashes</h3>
												</header>
												<ul>
													<li>RNG gear</li>
													<li>Outbreak</li>
													<li>Panic</li>
													<li>crashes</li>
													<li>wolves and zombies</li>
												</ul>
											</article>
											<article class="text">
												<p>In the panic of the outbreak civilians and the military had their differences, sadly they were settled with agression which resulted in numerous victims. However in this current state such events can produce a good source of weaponry and equipment, once a civilian militia takes down a Helicopter everyone waits for the fire to settle down and then storm towards it in hopes of finding high end Military equipment which could be resold at the local Freelance Trading post. Besides Helicopters the militia will attack Police vehicles that transport more civilian weaponry and at rare occasions storage containers as well.</p>
											</article>
										</div>
									</div>

									<div class="item" data-color="blue">
										<div class="image" style="background-image: url(./images/custom/trader.png);"> </div>
										<div class="description">
											<article class="text">
												<header>
													<h3>Drug Dealer</h3>
												</header>
												<ul>
													<li>Drugs :)</li>
												</ul>
											</article>
											<article class="text">
												<p>After the outbreak when the dust settled people seeked a remedy of some kind, so a few survivors saw a chance to make some good profit in others despair so they have opened a drug dealing buisness in the North-West part of Chernarus. Even though its in the most dangerous part of Chernarus people still go there in order to sell their goods or to purchase them, but beware of wildlife in that part of Chernarus, there is high amounts of bears and wolves, for your safety it is suggested to go heavily armed.</p>
											</article>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Custom areas -->

			<!-- The last broadcast -->			
			<div class="tlb" data-view-name="the-last-broadcast">
				<div class="background-image" style="background-image: url(./images/tlb_background.jpg);">
					<div class="overlay">
						<div class="content">
							<div class="wrapper">
								<article class="text">
									<header>
										<h1>
											<span>About</span>
											The Last Broadcast
										</h1>
									</header>
									<p>Our crew members</p>
								</article>

								<div class="crew">
									<div>
										<figure>
											<img src="images/crew/temp.png" alt="slv">
											<div class="country"><img src="images/flags/netherlands.png" alt="NL"></div>
										</figure>
										<article class="text">
											<header>
												<h3>
													Slv`
													<span>TLB Owner</span>
												</h3>
											</header>
										</article>
									</div>
									<div>
										<figure>
											<img src="images/crew/temp.png" alt="Lights">
											<div class="country"><img src="images/flags/united-kingdom.png" alt="UK"></div>
										</figure>
										<article class="text">
											<header>
												<h3>
													Lights
													<span>Server Admin</span>
												</h3>
											</header>
										</article>
									</div>
									<div>
										<figure>
											<img src="images/crew/temp.png" alt="CroReaper">
											<div class="country"><img src="images/flags/croatia.png" alt="CRO"></div>
										</figure>
										<article class="text">
											<header>
												<h3>
													CroReaper
													<span>Server Admin</span>
												</h3>
											</header>
										</article>
									</div>
									<div>
										<figure>
											<img src="images/crew/temp.png" alt="Nexarn">
											<div class="country"><img src="images/flags/sweden.png" alt="SW"></div>
										</figure>
										<article class="text">
											<header>
												<h3>
													Nexarn
													<span>Server Admin</span>
												</h3>
											</header>
										</article>
									</div>
									<div>
										<figure>
											<img src="images/crew/temp.png" alt="MaddogEdw4rds">
											<div class="country"><img src="images/flags/united-kingdom.png" alt="UK"></div>
										</figure>
										<article class="text">
											<header>
												<h3>
													MaddogEdw4rds
													<span>Server Admin</span>
												</h3>
											</header>
										</article>
									</div>
									<div>
										<figure>
											<img src="images/crew/temp.png" alt="Robert Allen">
											<div class="country"><img src="images/flags/united-states-of-america.png" alt="USA"></div>
										</figure>
										<article class="text">
											<header>
												<h3>
													Robert Allen
													<span>Server Admin</span>
												</h3>
											</header>
										</article>
									</div>
									<div>
										<figure>
											<img src="images/crew/temp.png" alt="Flash">
											<div class="country"><img src="images/flags/netherlands.png" alt="NL"></div>
										</figure>
										<article class="text">
											<header>
												<h3>
													Flash
													<span>Council Board Member</span>
												</h3>
											</header>
										</article>
									</div>
									<div>
										<figure>
											<img src="images/crew/temp.png" alt="BlueNL">
											<div class="country"><img src="images/flags/netherlands.png" alt="NL"></div>
										</figure>
										<article class="text">
											<header>
												<h3>
													BlueNL
													<span>Council Board Member</span>
												</h3>
											</header>
										</article>
									</div>
								</div>
								<div class="button-container center">
									<a href="#" data-color="white" data-view-target="introduction">Home</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- End The last broadcast -->			

			<!-- Factions -->
			<div class="factions" data-view-name="factions">
				<div class="background-image" style="background-image: url(./images/civilization_background.jpg);">
					<div class="overlay">
						<div class="content">
							<div class="wrapper">
								<article class="text">
									<header>
										<h1>
											<span>Those who rule the land</span>
											Factions
										</h1>
									</header>
									<p>These are the factions that exist in Cherno and strive for either power, knowledge or pure greed. Each of these factions bring their own goal and story for their existence here. We have opened spots for official factions, look at our <a href="https://www.dayz-tlb.com/discord/" target="_blank" rel="nofollow">Discord channel</a> for the latest info on this subject.</p>
								</article>
								<div class="container">
									<figure>
										<div class="story">
											<h4>The Bloodline</h4>
											<p>We own the streets of Severograd and have the respect of the local population.</p>
										</div>
										<img src="images/factions/faction_the_bloodline.png" alt="The Bloodline - We are one">
									</figure>
									<figure>
										<h3>Open spot</h3>
									</figure>
									<figure>
										<h3>Open spot</h3>
									</figure>
									<figure>
										<h3>Open spot</h3>
									</figure>
									<figure>
										<h3>Open spot</h3>
									</figure>
									<figure>
										<h3>Open spot</h3>
									</figure>
									<figure>
										<h3>Open spot</h3>
									</figure>
									<figure>
										<h3>Open spot</h3>
									</figure>
									<figure>
										<h3>Open spot</h3>
									</figure>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>	
			<!-- End Facations -->	
		</section>
	</main>
	<script src="js/app.js"></script>
</body>
</html>