// Dimmensions 
div.tlb {
	.overlay { 
		background: linear-gradient(60deg,rgba(74,35,90,.6) 0%, rgba(33,47,60,.6) 50%, rgba(0,0,0,.8) 100%);
	}
	.content {
		.wrapper {
			display: flex; 
			justify-content: center;
			align-items: center;
			flex-direction: column;
			
			> article.text {
				max-width: calc(var(--grid-width) / 2);
				text-align: center;
			}
		}
	}
}