// Dimmensions 
div.factions {
	.overlay {
		background: linear-gradient(60deg, rgba(0,0,0,.7) 0%, rgba(208,79,0,.5) 70%, rgba(0,26,90,1) 100%);
	}
	.content {
		.wrapper {
			display: flex; 
			justify-content: center;
			align-items: center;
			max-width: var(--grid-width);
			flex-direction: column;

			> article.text {

				max-width: calc(var(--grid-width) / 2);
			}

			.container {
				display: flex;
				justify-content: space-between;
				align-items: stretch;
				flex-wrap: wrap;
				width: 100%;
				max-width: var(--grid-width); 
				figure {
					display: flex;
					align-items: center;
					justify-content: center;
					.story {
						position: absolute;
						align-items: center;
						justify-content: center;						
						flex-direction: column;
					}
				}
			}
		}
	}
}

div.factions .container {
	margin-top:var(--offset);
	figure, 
	figure .story {
		width: 380px;
		border-radius: 15px;
		min-height: 150px;
		padding: 15px;
		max-height: 150px;
	}

	figure {
		background: rgba(0,0,0,.2); 
		min-height: 150px;
		opacity: 0;
		transition: all .2s;

		h3 {
			font-size: 18px;
			font-weight: 700;
		}

		img {
			max-height: 110px;
			max-width: 100%;
			transition: all .2s;
		}

		.story {
			display: none;
			background: rgba(0,0,0,.8); 
			color: #FFF;
			font-size: 14px;
			line-height: 24px;
			opacity: 0; 

			&:hover {
				transition: all .5s;
				opacity: 1;
			}

			h4 {
				font-size: 18px; 
				text-transform: uppercase;
				font-weight: 700;
			}
		}
		
		&:hover 
		{ 
			img {
				max-height: 120px;
				max-width: 100%;
			}

			.story {
				display: flex;
			}

		}

		&:nth-child(n+4){
			margin-top: calc(var(--offset) / 2);
		}
	}
}

div.factions.in figure {
	@include animation(fade-in .3s forwards ease-in); 

	&:nth-child(1){animation-delay: .1s}
	&:nth-child(2){animation-delay: .4s}
	&:nth-child(3){animation-delay: .6s}
	&:nth-child(4){animation-delay: .1s}
	&:nth-child(5){animation-delay: .5s}
	&:nth-child(6){animation-delay: .7s}
	&:nth-child(7){animation-delay: .3s}
	&:nth-child(8){animation-delay: .2s}
	&:nth-child(9){animation-delay: .6s}
}