main > section > div {
	--height: 100vh;

	.background-image, 
	.overlay,
	.content {
		width: 100%;
	}

	.background-image {
		position: relative;
		background-size: cover;
		background-position: 50% 50%; 
		background-repeat: no-repeat;
		opacity: 1;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		min-height: var(--height);
	}

	.overlay {
		width: 100%;
		padding: 180px 0 var(--offset) 0;
		min-height: var(--height);
	}

	.content { 
		z-index: 200; 
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
}

main > section > div > .overlay {
	span {
		@include animation(introduction-overlay .3s forwards);
		&:nth-child(1) { animation-delay: 1s; }
		&:nth-child(2) { animation-delay: 1.1s; }
		&:nth-child(3) { animation-delay: 1.2s; }
		&:nth-child(4) { animation-delay: 1.3s; }
	}
}