.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(mobile){
        max-width: calc(100% - calc(var(--offset) / 2));
    }
}